body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

h1 {
    font-size: 24px;
    background-color: aqua;
    padding: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: crimson;
    border-radius: 20px;
    outline-color: blue;
}

.formstyle {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(245, 245, 245, 0.068);
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    
}

input[type="text"] {
    width: 80%;
    padding: 20px;
    margin-bottom: 10px;
    font-size: 18px;
    text-align: center;
    background-color: blanchedalmond;
}

input[type="button"] {
    width: 48px;
    height: 48px;
    font-size: 18px;
    margin: 5px;
    padding: 40px;
}

#clear {
    width: 100%;
}

@media screen and (max-width: 768px) {
    .formstyle {
        max-width: 90%;
    }

    input[type="button"] {
        width: 30px;
        height: 30px;
        font-size: 14px;
        margin: 3px;
    }

    input[type="text"] {
        font-size: 16px;
    }

    #clear {
        width: 100%;
        font-size: 16px;
    }
}